{% extends 'student/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}

<div class="container mt-5">
    <h2 class="text-center">Available Courses</h2>
    <div class="row">
        {% for course in courses %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{ course.image_flyer.url }}" class="card-img-top" alt="{{ course.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">{{ course.description|truncatewords:20 }}</p>
                    <a href="{% url 'student:course_detail' course.course_id %}" class="btn btn-primary">View Course</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}