{% extends 'main/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}

    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5 mb-5">
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#header-carousel" data-slide-to="1"></li>
                <li data-target="#header-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner header-image">
                <div class="carousel-item active">
                    <img class="position-relative image-css" src="{% static 'images/main/carousel-1.jpg' %}" >
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Best Online Courses</h5>
                            <h1 class="display-3 text-white mb-md-4">Best Education From Your Home</h1>
                            <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="position-relative image-css" src="{% static 'images/main/carousel-2.jpg' %}" >
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Best Online Courses</h5>
                            <h1 class="display-3 text-white mb-md-4">Best Online Learning Platform</h1>
                            <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="position-relative image-css" src="{% static 'images/main/carousel-3.jpg' %}" >
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Best Online Courses</h5>
                            <h1 class="display-3 text-white mb-md-4">New Way To Learn From Home</h1>
                            <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <div>
        <h2 class="text-center text-uppercase mb-md-3">Our Partners</h2>
        <h3 class="text-center">Partnered with <span class="span-text">Top Institutions</span> to produce <span class="span-text2">Best Quality Education content</span></h3>
    </div>

    <div class="why-ssti">
        <h2 class="text-center text-uppercase mb-md-3">Why Soft Skills Training Institute</h2>
        <div class="container">
            <div class="row">

                <!-- Card 1 -->
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="custom-icon">
                                <i class="fas fa-user-tie fa-3x"></i>
                            </div>
                            <h5 class="card-title mt-3">Courses from top Universities</h5>
                            <p class="card-text">In this 21st century, Soft Skills are the most sought-after skills by employers.</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 2 -->
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="custom-icon">
                                <i class="fas fa-laptop fa-3x"></i>
                            </div>
                            <h5 class="card-title mt-3">100% Online</h5>
                            <p class="card-text">Our courses are 100% online, allowing you to learn at your own pace and convenience.</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 3 -->
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="custom-icon">
                                <i class="fas fa-video fa-3x"></i>
                            </div>
                            <h5 class="card-title mt-3">Weekly Videos and PowerPoint</h5>
                            <p class="card-text">You would be provided with engaging weekly videos and PowerPoint presentations directly on our learning platform.</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 4 -->
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="custom-icon">
                                <i class="fas fa-toolbox fa-3x"></i>
                            </div>
                            <h5 class="card-title mt-3">Practical Tools and Resources</h5>
                            <p class="card-text">You would gain access to practical tools and Resources such as templates and samples that will enhance your workplace efficiency.</p>
                        </div>
                    </div>
                </div>
    
                <!-- Card 5 -->
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="custom-icon">
                                <i class="fas fa-certificate fa-3x"></i>
                            </div>
                            <h5 class="card-title mt-3">Earn Certifications</h5>
                            <p class="card-text">Upon completion, you would receive a certificate detailing all the courses you’ve taken.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Category Start -->
    <div class="container-fluid py-5 course-cat">
        <div class="container pt-5 pb-3 course-container">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3 course-header" style="letter-spacing: 5px;">Courses</h5>
                <h1>Explore Top Courses</h1>
            </div>
            <div class="row justify-content-center">

                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="cat-item card">
                        <div class="card-body">
                            <img class="course-img-fluid" src="{% static 'images/main/cat-1.jpg' %}" alt="">
                            <h3 class="card-title">Web Design</h3>
                            <p class="card-text"></p>
                           <div class="cat-link">
                            <a href="" class="btn-primary read-more">Read More</a>
                            <a href="" class="btn-primary register">Register</a>
                           </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="course-img-fluid" src="{% static 'images/main/cat-2.jpg' %}" alt="">
                            <h4 class="text-white font-weight-medium">Development</h4>
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="course-img-fluid" src="{% static 'images/main/cat-3.jpg' %}" alt="">
                            <h4 class="text-white font-weight-medium">Game Design</h4>
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="course-img-fluid" src="{% static 'images/main/cat-4.jpg' %}" alt="">
                            <h4 class="text-white font-weight-medium">Apps Design</h4>
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="course-img-fluid" src="{% static 'images/main/cat-5.jpg' %}" alt="">
                            <h4 class="text-white font-weight-medium">Marketing</h4>
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="course-img-fluid" src="{% static 'images/main/cat-6.jpg' %}" alt="">
                            <h4 class="text-white font-weight-medium">Research</h4>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <!-- Category Start -->

    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Testimonial</h5>
                <h1>What Say Our Students</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="text-center">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <h4 class="font-weight-normal mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</h4>
                            <img class="img-fluid mx-auto mb-3" src="{% static 'images/main/testimonial-1.jpg' %}" alt="">
                            <h5 class="m-0">Client Name</h5>
                            <span>Profession</span>
                        </div>
                        <div class="text-center">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <h4 class="font-weight-normal mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</h4>
                            <img class="img-fluid mx-auto mb-3" src="{% static 'images/main/testimonial-2.jpg' %}" alt="">
                            <h5 class="m-0">Client Name</h5>
                            <span>Profession</span>
                        </div>
                        <div class="text-center">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <h4 class="font-weight-normal mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</h4>
                            <img class="img-fluid mx-auto mb-3" src="{% static 'images/main/testimonial-3.jpg' %}" alt="">
                            <h5 class="m-0">Client Name</h5>
                            <span>Profession</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

{% endblock %}